{lib_dirs,["/usr/local/Cellar/elixir/1.3.4/lib",
           "/Users/tim/Documents/Web Development/colorStorm/api/_build/prod"]}.

{release,{colorstorm,"0.0.1"},[{colorstorm,"0.0.1"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot","bin/colorstorm"},
          {copy,"/Users/tim/Documents/Web Development/colorStorm/api/_build/prod/consolidated",
                "lib/consolidated"}]}.

