[{sasl,[{errlog_type,error}]},
 {mime,[{types,#{<<"application/vnd.api+json">> => [<<"json-api">>]}}]},
 {guardian,
     [{'Elixir.Guardian',
          [{allowed_algos,[<<"HS512">>]},
           {verify_module,'Elixir.Guardian.JWT'},
           {issuer,<<"Colorstorm">>},
           {ttl,{30,days}},
           {verify_issuer,true},
           {secret_key,
               <<"uEk74kX3JIgmt/Oh+Xg+2CO5kLFGJbBajx337cXAopILnhkWPY6A3j3NaQa0+w5j">>},
           {serializer,'Elixir.Colorstorm.GuardianSerializer'}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {colorstorm,
     [{ecto_repos,['Elixir.Colorstorm.Repo']},
      {'Elixir.Colorstorm.Endpoint',
          [{root,<<"/Users/tim/Documents/Web Development/colorStorm/api">>},
           {render_errors,[{accepts,[<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Colorstorm.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"example.com">>}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true},
           {secret_key_base,nil}]},
      {'Elixir.Colorstorm.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,nil},
           {password,nil},
           {database,<<"colorstorm_prod">>},
           {hostname,<<"localhost">>},
           {pool_size,20}]}]},
 {phoenix,
     [{format_encoders,[{'json-api','Elixir.Poison'}]},
      {generators,[{migration,true},{binary_id,false}]}]}].
